@import "tailwindcss";

@layer base {
    html {
        /* Smooth scrolling for anchor links */
        scroll-behavior: smooth;
    }

    /* Responsive Typography scaling */
    h1,
    h2 {
        overflow-wrap: break-word;
        /* Prevents long words from breaking layout */
    }
}

/* Ensure no horizontal scroll on mobile */
body {
    overflow-x: hidden;
    width: 100%;
}